/* Add Noto Sans font for .noto-sans-uniquifier */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
/* Cute rounded font option */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');
@import "tailwindcss";

.noto-sans-uniquifier {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.illini-cute {
  font-family: "Fredoka", "Noto Sans", "Trebuchet MS", sans-serif;
}
